@charset "utf-8";
/* CSS Document */
.mwamko-logo{
	text-align:center;
}
.custom-nav{
	background:#27b98e;
}
.nav-top {
	margin:-20px 0;	
	width:100%;
	height:30px;
	background:#f2f2f2;
	padding:0;
	border-bottom:#999 solid thin;
	
}
.nav-top li{
	float:left;
	list-style-type:none;
	margin:5px 5%;
	padding:0 4%;
	border-left:#999 solid thin;
}
.nav-top li:first-child{
	border:none;
}
.nav-top li a{
    color:#666;
	font-size:.9em;
}

.custom-thumbnails{
	margin:35px -17%;
	width:130%;
}
.custom-thumbnails li{
	list-style-type:none;	
	float:left;
	margin:0 0.5%;		
}
.custom-thumbnails li .thumbnail{
	position:relative;
	margin:0 0 10px;
		
}


