body{
	box-shadow:none;
	background:#F00;

	
}
.ui-bar-a{
	background:#27b98e;
}
.ui-page1-navbar ul li{
	border-left:#f2f2f  thin solid;	
} 
.ui-page1-navbar ul li a{	
	background:#fff; 
	border-left:none;	
} 
.ui-page1 {
	margin:0  0;
	background:#fff;
} 

.ui-page1-content {
	width:100%;
	padding:0;
} 

.ui-page1-content div{
	width:100%;
	padding:0;
} 
.ui-page1-content ul {
	position:relative;
	width:100%;
	height:100px;
	left:0;
	margin:10px 0;
	padding:0 1%;

} 
.ui-page1-content ul li {
	position:relative;
	float:left;
	list-style-type:none;
	margin:0  1%;
	padding:0;


} 

.ui-page1-content ul li a{	
	border-left:none;
	padding:0;	
} 

.ui-page1-content ul li a img{
	padding:0;
	border:#FFF solid 2px;
		
} 
.ui-page1-content ul li .price-holder{
	position:absolute;
	width:70%;
	height:72px;
	background:#fff;
	top:123px;
	z-index:19;			
} 

.ui-page1-content ul li .price-holder p:nth-child(1){
	margin:10px 0;
	font-size:.8em;
	color:#1c2a4e;	
	padding:0 18%;			
} 
.ui-page1-content ul li .price-holder p:nth-child(2){
	margin:-12px 0;
	font-size:.8em;
	color:#666;	padding:0 20%;			
} 
.ui-page1-content ul li .price-holder p:nth-child(3){
	margin:17px 0;
	padding:0 20%;	
	background:#27b98e;
	font-size:.8em;
	color:#fff;	
} 

/*view book page settings*/
#ui-page1-viewBook ul{
	
	
} 
#ui-page1-viewBook ul li {

	
} 
#ui-page1-viewBook ul li p:first-child{
	position:relative;
	font-size:.8em;
	color:#27b98e;
	width:30%;
	background:#fff;
	z-index:9;
	
} 
#ui-page1-viewBook ul li p:first-child span:nth-child(1){
	position:relative;
	top:2px;
	
} 
#ui-page1-viewBook ul li p:first-child span:nth-child(2){
	position:relative;
	top:-3px;
	
} 
#ui-page1-viewBook ul li #ui-page1-content-poster{
	position:relative;
	top:-47px;
	font-size:.8em;
	color:#27b98e;
	background:#fff;
	
} 
#ui-li-buyinfo-wrapper div{
	position:relative;
	left:-3%;
	float:left;
	background:#ccc;
	width:100px;
	margin:0 0.5%;
	height:74px;		
} 